<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="dist/css/nsp-font-icons.css" />
    <link rel="stylesheet" type="text/css" href="examples/nsp-icons-demo.css" />
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="examples/nsp-font-icons.module.js"></script>
    <script type="text/javascript" src="examples/nsp-font-icons.controller.js"></script>
    <title>NSP Font Icons</title>
</head>

<body ng-app="NSPFontIcons">
    <div ng-controller="NSPFontIconsController as vm">
        <header>
            <div class="header">NSP Font icons</div>
        </header>
        <div class="main-wrapper">
        	<div class="font-icon-wrapper" ng-repeat="value in vm.icons">
        	    <i class="f-nsp f-nsp-{{value}}"></i>
        	    <span class="label">f-nsp-{{value}}</span>
        	</div>        	
        </div>        
    </div>
</body>

</html>
