@font-face {
    font-family: 'nilexregular';
    src: url('../fonts/nilex-regular/nilex_icons-webfont.eot?v1.1');
    src: url('../fonts/nilex-regular/nilex_icons-webfont.eot?#iefix') format('embedded-opentype'),
         // url('../fonts/nilex-regular/nilex_icons-webfont.woff2?v1.1') format('woff2') ,
         url('../fonts/nilex-regular/nilex_icons-webfont.woff?v1.1') format('woff') ,
         url('../fonts/nilex-regular/nilex_icons-webfont.ttf?v1.1') format('truetype') ,
         url('../fonts/nilex-regular/nilex_icons-webfont.svg#nilexregular?v1.1') format('svg') ;
    font-weight: normal;
    font-style: normal;
}
  
.f-nsp {
  font-family: "nilexregular";
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  text-transform: none;
}

$icons: (
  "service" "!",
  "support" "\"",
  "switch" "#",
  "wifi" "$",
  "mobile-device" "%",
  "computer" "&",
  "business-rules" "'",
  "channels" "(",
  "cube" "E",
  "manage" "*",
  "plus" "+",
  "entity-groups" ",",
  "minus" "-",
  "entity-editor" ".",
  "hamburger" "‚",
  "web-server" "/",
  "storage" "0",
  "hosting" "1",
  "globe" "2",
  "network" "3",
  "database" "4",
  "ups" "5",
  "os" "6",
  "it-service" "7",
  "accessories" "8",
  "firewall" "9",
  "access-point" ":",
  "hardware" ";",
  "quicksteps" "<",
  "sla" "=",
  "work-schemas" ">",
  "automation-triggers" "?",
  "roles-permissions" "@",
  "pencil" "A",
  "delete" "B",
  "flag" "C",
  "consumable" "D",
  "box" ")",
  "list" "F",
  "qr" "’",
  "file" "G",
  "laptop" "H",
  "tag" "I",
  "circle" "J",
  "optical-disk" "K",
  "connection" "L",
  "cpu" "M",
  "angle-down" "N",
  "angle-up" "O",
  "angle-left" "P",
  "angle-right" "Q",
  "ellipsis" "R",
  "smart-phone" "S",
  "tablet" "T",
  "mobile-phone" "U",
  "pda" "V",
  "router" "W",
  "rack" "X",
  "cloud" "Y",
  "security" "Z",
  "ram" "[",
  "video" "\\",
  "audio" "]",
  "event-triggers" "^",
  "ci-states" "_",
  "notifications" "`",
  "checked" "a",
  "unchecked" "b",
  "business" "c",
  "sales" "d",
  "mail" "e",
  "backup" "f",
  "server" "g",
  "monitor" "h",
  "desktop" "i",
  "nettop" "j",
  "software" "k",
  "custom" "l",
  "components" "m",
  "sort-down" "n",
  "sort-up" "o",
  "arrow-left" "p",
  "arow-right" "q",
  "network-adapter" "r",
  "mouse" "s",
  "keyboard" "t",
  "headphone" "u",
  "microphone" "v",
  "projector" "w",
  "application" "x",
  "printer" "y",
  "scanner" "z",
  "motherboard" "{",
  "ssd" "|",
  "hdd" "}",
  "vendors" "~",
  "thin-cubes" "À",
  "chat" "Ã",
  "templates" "È",
  "task-templates" "É",
  "report-templates" "Ì",
  "call-settings" "Ï",
  "views" "Î",
  "facebook" "Á",
  "twitter" "Ë",
  "ci-types" "Ç",
  "depreciation" "Å",
  "licence" "Æ",
  "relations" "Ä",
  "schedule" "Ê",
  "account-management" "Ð",
  "security-settings" "Ñ",
  "ci-groups" "Ò",
  "department" "Ó",
  "excellent" "Ô",
  "vertical-ellipsis" "Õ",
  "drag-and-drop" "Ö",
  "hyperlink" "×",
  "elapsing-time" "Ø",
  "graph" "Ù",
  "contract-management" "Ú",
  "knowledge-base" "Û",
  "expense-type" "Ü",
  "impacts" "Ý",
  "light-bulb" "Þ",
  "messages" "ß",
  "prohibited" "à",
  "document" "á",
  "download" "â",
  "storage2" "Â",
  "user" "ã",
  "remove" "ä",
  "clock" "å",
  "contract-management-settings" "æ",
  "knowledge" "ç",
  "stopwatch" "è",
  "graph-line" "é",
  "book" "ê",
  "graph-line-outline" "ë",
  "user-outline" "ì",
  "bookmark" "í",
  "cmdb" "Í",
  "opened-book" "î",
  "notification-bell" "ï",
  "info" "ð",
  "info-outline" "ñ",
  "bell-outline" "ò",
  "message" "ó",
  "equalizer" "ô",
  "bookmark-ticket" "õ",
  "search" "ö",
  "cycle" "÷",
  "file-text-arrow" "ø",
  "star" "ù",
  "thumbs-down" "ú",
  "refresh" "û",
  "home" "ü",
  "life-cycle" "ý",
  "text" "Œ",
  "start-date" "œ",
  "number" "Ÿ",
  "translation" "ˆ",
  "notebook" "˜",
  "precentage" "ı",
  "branch" "Ł",
  "paragraph" "ł",
  "caret-square-o-down" "Š",
  "check-square-o" "š",
  "integer" "Ž",
  "subcategory" "ž",
  "square-dotted" "ƒ",
  "ci-square" "ˇ",
  "contract-square" "˘",
  "heart" "˙",
  "heart-o" "˚",
  "notebook-o" "˛",
  "dot-square" "˝",
  "th-square-o" "π",
  "star-outline" "ÿ",
  "map-marker" "–",
  "check" "—",
  "gear" "‘",
  "qr-code" "’",
  "reorder" "‚",
  "subcategory-outline" "”",
  "refresh-square" "„",
  "bullhorn" "†",
  "cart" "‡",
  "spyglass" "•",
  "tape" "…",
  "lock" "‰",
  "circle-o" "·",
  "radio" "¸",
  "user-star" "‹",
  "user-config" "›",
  "building" "⁄",
  "institution" "€",
  "bulb-o" "Ω",
  "refresh-square-o" "∂"
);

@each $icon in $icons {
  .f-nsp-#{nth($icon, 1)}:before {
    content: nth($icon, 2);
  }
}
